name: momentum
description: A super-powerful flutter state management library inspired with MVC pattern with very flexible dependency injection.
version: 1.3.1
homepage: https://github.com/xamantra/momentum

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
dev_dependencies:
  flutter_test:
    sdk: flutter
  effective_dart: ^1.2.1
  test_coverage: ^0.4.1